<div class="container-fluid">
  <div class="row">
      <form #goalForm='ngForm'>
          <!-- Name Form -->
          <div class="form-group">
              <label for="name">Quote</label>
              <input type="text"  class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
              
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                  
                  
              </div>
          </div>
          <!-- Description Input -->
          <div class="form-group">
              <label for="description">By</label>
              <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required></textarea>
              <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                  
                  
              </div>
              
          </div>
          <form (ngSubmit)='submitGoal()' #QuoteForm='ngForm'></form>
          
          <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
      </form>
  </div>
</div>